.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px; 
    background-image: url("../images/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url(../images/Menu\ Aberto.svg);
}

.container__botao:checked ~ .container__rotulo {
    background: var(--azul-degrade);
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 74vw;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 400;
    font-style: normal;
}

.container__botao {
    display: none;
}

.container__botao:hover {
    cursor: pointer;
}

.container__titulo {
    display: none;
}

.opcoes {
    display: none;
}

.container__logo {
    display: flex;
    align-items: center;
}

.container__texto {
    display: none;
}

.opcoes-principais {
    display: flex;
    align-items: center;
    gap: 3em;
}


@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
        padding: 0.75em;
        text-transform: uppercase;
    }

    .opcoes__link-menu {
        display: inline-block;
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho {
        justify-content: space-around;
    }

    .lista-menu-tablet {
        display: none;
        position: absolute;
        top: 80%;
        width: 230px;
    }

    .container__botao-tablet:checked ~ .lista-menu-tablet {
        display: block;
    }
    
    .container__botao-tablet {
        display: none;
    }

    .lista-menu-tablet__item {
        padding: 1em;
        background-color: var(--branco);
    }

    .lista-menu-tablet__link {
        background: var(--azul-degrade);
        text-decoration: none;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    .container__imagens {
        display: flex;
        gap: 2em;
    }

    .opcoes__link {
        padding: 1.8em 1em;
    }

    .opcoes__item-menu:hover {
        cursor: pointer;
        color: var(--branco);
        background: var(--azul-degrade);
    }

    .container__botao-tablet:checked ~ .opcoes__item-menu {
        background: var(--azul-degrade);
        color: var(--branco);
    }


    .lista-menu-tablet__item:hover {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .lista-menu-tablet__link:hover {
        -webkit-background-clip: none;
        -webkit-text-fill-color: initial;
        background-clip: none;
    }

    .lista-menu-tablet__item:hover > .lista-menu-tablet__link{
        -webkit-text-fill-color: var(--branco);
    }
}

@media screen and (min-width: 1559px){
    .container__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        font-size: 1.25rem;
        color: var(--preto);
    }

    .container {
        display: flex;
        gap: 3em;
    }

    .cabecalho {
        padding: 0 5em;
        justify-content: space-between;
    }

    .container__texto {
        display: inline;
    }
}