.rodape {
    border-top: 1px solid var(--preto);
    background-color: var(--branco);
}

.rodape__titulo {
    padding: 1.5em 0 1.5em 1.5em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        display: flex;
        justify-content: space-between;
        padding: 2em;
    }

    .rodape__titulo {
        padding: 0;
        font-size: 1.25rem;
        font-weight: 400;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        padding-bottom: 1.5em;
        color: var(--cinza);
        text-transform: uppercase;
    }
    
    .lista-rodape__item {
        padding: 0.5em 0;
        display: flex;
        align-items: center;
        gap: 0.5em;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cinza-escuro);
    }
}

@media screen and (min-width: 1559px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }

    .rodape {
        justify-content: space-around;
    }

    .rodape__titulo {
        font-size: 1.5rem;
        padding-left: 3%;
    }

}